<!--   Core JS Files   -->
<script src="{{ url_for('static', filename='js/core/jquery.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/core/popper.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/core/bootstrap.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/plugins/perfect-scrollbar.jquery.min.js')}}"></script>
<!-- Chart JS -->
<script src="{{ url_for('static', filename='js/plugins/chartjs.min.js')}}"></script>
<!--  Notifications Plugin    -->
<script src="{{ url_for('static', filename='js/plugins/bootstrap-notify.js')}}"></script>
<!-- Control Center for Black Dashboard: parallax effects, scripts for the example pages etc -->
<script src="{{ url_for('static', filename='js/black-dashboard.min.js?v=1.0.0')}}"></script>
