
    <div class="sidebar" color="blue">
        <!--
          Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
      -->
        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="javascript:void(0)" class="simple-text logo-mini">
                    <img src="{{ url_for('static', filename='images/icon_white.png') }}" />
                </a>
                <a href="javascript:void(0)" class="simple-text logo-normal">
                    Северсталь
                </a>
            </div>
            <ul class="nav">
                <li class="{% if 'index' in segment %} active {% endif %}">
                    <a href="{{ url_for('index') }}">
                        <i class="tim-icons icon-chart-pie-36"></i>
                        <p>
                            Dashboard
                        </p>
                    </a>
                </li>
                {% for i in exg_list %}
                <li class="{% if 'xgauster' in segment %} active {% endif %}">
                    <a href="{{ url_for('xgauster', id=i.id) }}?b={{date.d1}}&e={{date.d2}}">
                        <i class="tim-icons icon-sound-wave"> </i>
                        <p>{{i.name}}</p>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
