{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="content">
        <div id="dbord" class="row">
            {% for tp in title %}
            <div class="col-lg-4">
                <div class="card card-chart" style="height: 200px;">
                    <div class="card-header">
                        <h5 class="card-category">{{tp}}</h5>
                    </div>
                    <div class="card-body">
                        <div class="chart-area">
                            <canvas id="tp{{tp.id}}" class="tp"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    $(document).ready(function () {
        var canv = document.getElementById('dbord')
        const id_exg = window.location.href.split('/').pop();
        var d1 = new Date();
        var d2 = new Date;
        d2.setHours(d1.getHours()-3);

        let response = fetch('/xgauster_data', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json;chartset=utf-8'
            },
            body: JSON.stringify({
                'id': id_exg,
                'd1': d1,
                'd2': d2
            })
        });

        let res = response.json;
        console.log(res);
    });
</script>
{% endblock javascripts %}